/dts-v1/;

#include "bcm2710.dtsi"
#include "bcm2709-rpi.dtsi"
#include "bcm283x-rpi-csi1-2lane.dtsi"
#include "bcm283x-rpi-i2c0mux_0_44.dtsi"
#include "bcm2708-rpi-bt.dtsi"
#include "bcm283x-rpi-led-deprecated.dtsi"

/ {
	compatible = "raspberrypi,model-zero-2-w", "brcm,bcm2837";
	model = "Raspberry Pi Zero 2 W";

	aliases {
		serial0 = &uart1;
		serial1 = &uart0;
		mmc1 = &mmcnr;
	};

	rotenc0: rotary-encoder0 {
		compatible = "rotary-encoder";
		pinctrl-names = "default";
		pinctrl-0 = <&rotenc0_pins>;

		/* A, B channels (BCM GPIO numbers) */
		gpios = <&gpio 5  GPIO_ACTIVE_LOW>,
			<&gpio 16 GPIO_ACTIVE_LOW>;

		/* Optional but recommended */
		//linux,axis = <ABS_X>;               /* produces ABS_X events */
		rotary-encoder,relative-axis;       /* relative movement (like a mouse wheel) */
		rotary-encoder,steps-per-period = <4>; /* common for quadrature */
		debounce-interval = <2>;            /* ms; tweak (1–5 typical) */
	};

	rotenc1: rotary-encoder1 {
		compatible = "rotary-encoder";
		pinctrl-names = "default";
		pinctrl-0 = <&rotenc1_pins>;

		/* A, B channels (BCM GPIO numbers) */
		gpios = <&gpio 17 GPIO_ACTIVE_LOW>,
			<&gpio 22 GPIO_ACTIVE_LOW>;

		rotary-encoder,relative-axis;
		rotary-encoder,steps-per-period = <4>;
		debounce-interval = <2>;
	};

	rotenc2: rotary-encoder2 {
		compatible = "rotary-encoder";
		pinctrl-names = "default";
		pinctrl-0 = <&rotenc2_pins>;

		/* A, B channels (BCM GPIO numbers) */
		gpios = <&gpio 23 GPIO_ACTIVE_LOW>,
			<&gpio 24 GPIO_ACTIVE_LOW>;

		rotary-encoder,relative-axis;
		rotary-encoder,steps-per-period = <4>;
		debounce-interval = <2>;
	};

	rotenc3: rotary-encoder3 {
		compatible = "rotary-encoder";
		pinctrl-names = "default";
		pinctrl-0 = <&rotenc3_pins>;

		/* A, B channels (BCM GPIO numbers) */
		gpios = <&gpio 25 GPIO_ACTIVE_LOW>,
			<&gpio 26 GPIO_ACTIVE_LOW>;

		rotary-encoder,relative-axis;
		rotary-encoder,steps-per-period = <4>;
		debounce-interval = <2>;
	};

	rotenc4: rotary-encoder4 {
		compatible = "rotary-encoder";
		pinctrl-names = "default";
		pinctrl-0 = <&rotenc4_pins>;

		/* A, B channels (BCM GPIO numbers) */
		gpios = <&gpio 27 GPIO_ACTIVE_LOW>,
			<&gpio 11 GPIO_ACTIVE_LOW>;

		rotary-encoder,relative-axis;
		rotary-encoder,steps-per-period = <4>;
		debounce-interval = <2>;
	};

	rotenc5: rotary-encoder5 {
		compatible = "rotary-encoder";
		pinctrl-names = "default";
		pinctrl-0 = <&rotenc5_pins>;

		/* A, B channels (BCM GPIO numbers) */
		gpios = <&gpio 13 GPIO_ACTIVE_LOW>,
			<&gpio 12 GPIO_ACTIVE_LOW>;

		rotary-encoder,relative-axis;
		rotary-encoder,steps-per-period = <4>;
		debounce-interval = <2>;
	};
};

&gpio {
	/*
	 * This is based on the official GPU firmware DT blob.
	 *
	 * Legend:
	 * "NC" = not connected (no rail from the SoC)
	 * "FOO" = GPIO line named "FOO" on the schematic
	 * "FOO_N" = GPIO line named "FOO" on schematic, active low
	 */
	gpio-line-names = "ID_SDA",
			  "ID_SCL",
			  "GPIO2",
			  "GPIO3",
			  "GPIO4",
			  "GPIO5",
			  "GPIO6",
			  "GPIO7",
			  "GPIO8",
			  "GPIO9",
			  "GPIO10",
			  "GPIO11",
			  "GPIO12",
			  "GPIO13",
			  "GPIO14",
			  "GPIO15",
			  "GPIO16",
			  "GPIO17",
			  "GPIO18",
			  "GPIO19",
			  "GPIO20",
			  "GPIO21",
			  "GPIO22",
			  "GPIO23",
			  "GPIO24",
			  "GPIO25",
			  "GPIO26",
			  "GPIO27",
			  "HDMI_HPD_N",
			  "STATUS_LED_N",
			  /* Used by BT module */
			  "CTS0",
			  "RTS0",
			  "TXD0",
			  "RXD0",
			  /* Used by Wifi */
			  "SD1_CLK",
			  "SD1_CMD",
			  "SD1_DATA0",
			  "SD1_DATA1",
			  "SD1_DATA2",
			  "SD1_DATA3",
			  "CAM_GPIO1", /* GPIO40 */
			  "WL_ON", /* GPIO41 */
			  "BT_ON", /* GPIO42 */
			  "WIFI_CLK", /* GPIO43 */
			  "SDA0", /* GPIO44 */
			  "SCL0", /* GPIO45 */
			  "SMPS_SCL", /* GPIO46 */
			  "SMPS_SDA", /* GPIO47 */
			  /* Used by SD Card */
			  "SD_CLK_R",
			  "SD_CMD_R",
			  "SD_DATA0_R",
			  "SD_DATA1_R",
			  "SD_DATA2_R",
			  "SD_DATA3_R";

	i2c0_pins: i2c0 {
		brcm,pins = <0 1>;
		brcm,function = <4>;
	};

	i2c1_pins: i2c1 {
		brcm,pins = <2 3>;
		brcm,function = <4>;
	};

	i2s_pins: i2s {
		brcm,pins = <18 19 20 21>;
		brcm,function = <4>; /* alt0 */
	};

	rotenc0_pins: rotenc0_pins {
		brcm,pins = <5 16>;
		brcm,function = <0>; /* input */
		brcm,pull = <2 2>; /* up */
	};

	rotenc1_pins: rotenc1_pins {
		brcm,pins = <17 22>;
		brcm,function = <0>; /* input */
		brcm,pull = <2 2>; /* up */
	};

	rotenc2_pins: rotenc2_pins {
		brcm,pins = <23 24>;
		brcm,function = <0>; /* input */
		brcm,pull = <2 2>; /* up */
	};

	rotenc3_pins: rotenc3_pins {
		brcm,pins = <25 26>;
		brcm,function = <0>; /* input */
		brcm,pull = <2 2>; /* up */
	};

	rotenc4_pins: rotenc4_pins {
		brcm,pins = <27 11>;
		brcm,function = <0>; /* input */
		brcm,pull = <2 2>; /* up */
	};

	rotenc5_pins: rotenc5_pins {
		brcm,pins = <13 12>;
		brcm,function = <0>; /* input */
		brcm,pull = <2 2>; /* up */
	};

	pca_int_reset_pins: pca_int_reset_pins {
		brcm,pins = <6 7>;
		brcm,function = <0>; /* input */
		brcm,pull = <2 2>; /* up */
	};

	sdio_pins: sdio_pins {
		brcm,pins =     <34 35 36 37 38 39>;
		brcm,function = <7>; // alt3 = SD1
		brcm,pull =     <0 2 2 2 2 2>;
	};

	bt_pins: bt_pins {
		brcm,pins = <43>;
		brcm,function = <4>; /* alt0:GPCLK2 */
		brcm,pull = <0>;
	};

	uart0_pins: uart0_pins {
		brcm,pins = <30 31 32 33>;
		brcm,function = <7>; /* alt3=UART0 */
		brcm,pull = <2 0 0 2>; /* up none none up */
	};

	uart1_pins: uart1_pins {
		brcm,pins;
		brcm,function;
		brcm,pull;
	};

	uart1_bt_pins: uart1_bt_pins {
		brcm,pins = <32 33 30 31>;
		brcm,function = <BCM2835_FSEL_ALT5>; /* alt5=UART1 */
		brcm,pull = <0 2 2 0>;
	};

	audio_pins: audio_pins {
		brcm,pins = <>;
		brcm,function = <>;
	};

};

&mmcnr {
	pinctrl-names = "default";
	pinctrl-0 = <&sdio_pins>;
	bus-width = <4>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	brcmf: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins &bt_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
	status = "okay";
};

&i2c0if {
	clock-frequency = <100000>;
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <100000>;
	status = "okay";

	pca9698: gpio@20 {
		compatible = "nxp,pca9698";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		pinctrl-names = "default";
		pinctrl-0 = <&pca_int_reset_pins>;
		reset-gpios = <&gpio 6 GPIO_ACTIVE_LOW>;
		interrupt-parent = <&gpio>;
		interrupts = <7 IRQ_TYPE_LEVEL_LOW>;

		gpio-line-names =
			"mute1", "mute2", "mute3", "mute4", "solo1", "solo2", "solo3", "solo4",
			"prev", "stop", "play", "ff", "frw", "next", "", "",
			"up", "down", "left", "right", "ok", "back", "menu", "",
			"rotary_button1", "rotary_button2", "rotary_button3", "rotary_button4",
			"rotary_button5", "rotary_button6", "", "",
			"", "", "", "", "", "", "", "";

		mute1_hog {
			gpio-hog;
			gpios = <0 GPIO_ACTIVE_HIGH>;
			line-name = "mute1";
			output-low;
		};

		mute2_hog {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_HIGH>;
			line-name = "mute2";
			output-low;
		};

		mute3_hog {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_HIGH>;
			line-name = "mute3";
			output-low;
		};

		mute4_hog {
			gpio-hog;
			gpios = <3 GPIO_ACTIVE_HIGH>;
			line-name = "mute4";
			output-low;
		};

		solo1_hog {
			gpio-hog;
			gpios = <4 GPIO_ACTIVE_HIGH>;
			line-name = "solo1";
			output-low;
		};

		solo2_hog {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			line-name = "solo2";
			output-low;
		};

		solo3_hog {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			line-name = "solo3";
			output-low;
		};

		solo4_hog {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			line-name = "solo4";
			output-low;
		};

		prev_hog {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_HIGH>;
			line-name = "prev";
			input;
			bias-pull-up;
		};

		stop_hog {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_HIGH>;
			line-name = "stop";
			input;
			bias-pull-up;
		};

		play_hog {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_HIGH>;
			line-name = "play";
			input;
			bias-pull-up;
		};

		ff_hog {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			line-name = "ff";
			input;
			bias-pull-up;
		};

		frw_hog {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_HIGH>;
			line-name = "frw";
			input;
			bias-pull-up;
		};

		next_hog {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			line-name = "next";
			input;
			bias-pull-up;
		};

		up_hog {
			gpio-hog;
			gpios = <16 GPIO_ACTIVE_HIGH>;
			line-name = "up";
			input;
			bias-pull-up;
		};

		down_hog {
			gpio-hog;
			gpios = <17 GPIO_ACTIVE_HIGH>;
			line-name = "down";
			input;
			bias-pull-up;
		};

		left_hog {
			gpio-hog;
			gpios = <18 GPIO_ACTIVE_HIGH>;
			line-name = "left";
			input;
			bias-pull-up;
		};

		right_hog {
			gpio-hog;
			gpios = <19 GPIO_ACTIVE_HIGH>;
			line-name = "right";
			input;
			bias-pull-up;
		};

		ok_hog {
			gpio-hog;
			gpios = <20 GPIO_ACTIVE_HIGH>;
			line-name = "ok";
			input;
			bias-pull-up;
		};

		back_hog {
			gpio-hog;
			gpios = <21 GPIO_ACTIVE_HIGH>;
			line-name = "back";
			input;
			bias-pull-up;
		};

		menu_hog {
			gpio-hog;
			gpios = <22 GPIO_ACTIVE_HIGH>;
			line-name = "menu";
			input;
			bias-pull-up;
		};

		rotary_button1_hog {
			gpio-hog;
			gpios = <24 GPIO_ACTIVE_HIGH>;
			line-name = "rotary_button1";
			input;
			bias-pull-up;
		};

		rotary_button2_hog {
			gpio-hog;
			gpios = <25 GPIO_ACTIVE_HIGH>;
			line-name = "rotary_button2";
			input;
			bias-pull-up;
		};

		rotary_button3_hog {
			gpio-hog;
			gpios = <26 GPIO_ACTIVE_HIGH>;
			line-name = "rotary_button3";
			input;
			bias-pull-up;
		};

		rotary_button4_hog {
			gpio-hog;
			gpios = <27 GPIO_ACTIVE_HIGH>;
			line-name = "rotary_button4";
			input;
			bias-pull-up;
		};

		rotary_button5_hog {
			gpio-hog;
			gpios = <28 GPIO_ACTIVE_HIGH>;
			line-name = "rotary_button5";
			input;
			bias-pull-up;
		};

		rotary_button6_hog {
			gpio-hog;
			gpios = <29 GPIO_ACTIVE_HIGH>;
			line-name = "rotary_button6";
			input;
			bias-pull-up;
		};
	};

	pcm5122: pcm5122@4c {
		#sound-dai-cells = <0>;
		compatible = "ti,pcm5122";
		reg = <0x4c>;
		AVDD-supply = <&vdd_3v3_reg>;
		DVDD-supply = <&vdd_3v3_reg>;
		CPVDD-supply = <&vdd_3v3_reg>;
		status = "okay";
	};
};

&i2c2 {
	clock-frequency = <100000>;
};

&i2s {
	pinctrl-names = "default";
	pinctrl-0 = <&i2s_pins>;
	status = "okay";
};

&sound {
	compatible = "simple-audio-card";
	status = "okay";

	simple-audio-card,name = "Waveshare-PCM5122";
	simple-audio-card,format = "i2s";
	simple-audio-card,bitclock-master = <&snd_cpu>;
	simple-audio-card,frame-master = <&snd_cpu>;

	snd_cpu: simple-audio-card,cpu {
		sound-dai = <&i2s>;
		dai-tdm-slot-num = <2>;
		dai-tdm-slot-width = <32>;
	};

	simple-audio-card,codec {
		sound-dai = <&pcm5122>;
	};
};

&led_act {
	gpios = <&gpio 29 GPIO_ACTIVE_LOW>;
	default-state = "off";
	linux,default-trigger = "actpwr";
};

&hdmi {
	hpd-gpios = <&gpio 28 GPIO_ACTIVE_LOW>;
};

&vchiq {
	pinctrl-names = "default";
	pinctrl-0 = <&audio_pins>;
};

&bt {
	shutdown-gpios = <&gpio 42 GPIO_ACTIVE_HIGH>;
};

&minibt {
	shutdown-gpios = <&gpio 42 GPIO_ACTIVE_HIGH>;
};

&cam1_reg {
	gpio = <&gpio 40 GPIO_ACTIVE_HIGH>;
};

cam0_reg: &cam_dummy_reg {
};

i2c_csi_dsi0: &i2c0 {
};

/ {
	__overrides__ {
		audio = <&chosen>,"bootargs{on='snd_bcm2835.enable_hdmi=1',off='snd_bcm2835.enable_hdmi=0'}";

		act_led_gpio = <&led_act>,"gpios:4";
		act_led_activelow = <&led_act>,"gpios:8";
		act_led_trigger = <&led_act>,"linux,default-trigger";
	};
};
